a.arrow {
  text-decoration: none;
}

.hide {
  display: none !important;
}

.locked-hours {
  color: lightgrey;
  width: 6%;
  margin-left: 0.75%;
  border-radius: 5px;
  height: 40px;
  float: left;
  text-align: center;
  margin-top: 8px;
  border: 1px solid #ffffff;
}

.loading {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-left: 203px;
  background-image: url(https://d13yacurqjgara.cloudfront.net/users/69182/screenshots/2179253/animated_loading__by__amiri.gif);
  background-position: 20% 50%;
}

.other-month {
  border-color: white !important;
  background-color: white !important;
  color: lightgrey !important;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.other-month-label {
  color: grey !important;
  text-align: center;
}

.today {
  background-color: #c9e0ff;
}

.locked {
  color: grey;
  border-color: grey;
}

.red {
  color: red;
}

.yellow {
  color: #ffcb00;
}

.green {
  color: green;
}

#sumWeek {
  font-weight: bold;
  position: absolute;
  left: 91%;
}

.month-label {
  color: #003399;
  position: relative;
  left: 2%;
  top: 7%;
  font-weight: bold;
}

.boxheader {
  width: 100%;
  height: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #003399;
}

.boxbody {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
}

.workingHoursBox {
  width: 9%;
  margin-left: 2%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 40px;
  text-align: center;
  border-color: #bdd1ff;
  color: darkblue;
}

.projectBox {
  width: 34%;
  height: 75px;
  float: left;
  margin-left: 1%;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.boxfooter {
  min-height: 70px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #003399;
}

.deleteButton {
  width: 31px;
  height: 44%;
  border-radius: 5px;
  float: left;
  margin: 3.5% 0px 0px 0px;
  font-weight: bold;
}

#fontNormal {
  font-weight: normal;
}

.projectButton {
  width: 107px;
  height: 30px;
  border-radius: 5px;
  color: #808080;
  background-color: #f9f9f9;
  font-weight: bold;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  z-index: 10;
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 10;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 90px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  z-index: 10;
}

.dropdown-content li {
  padding: 5px;
  border-bottom: solid 1px #b3cccc;
  position: relative;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sumDeleteBox {
  width: 12%;
  height: 75px;
}

.buttonBox {
  width: 25%;
  height: 75px;
}

#project {
  min-width: 85px;
  margin-left: 1px;
}

.saveButton {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  color: #808080;
  background-color: #f9f9f9;
  font-weight: bold;
}

.reportButton {
  border-radius: 5px;
  color: #808080;
  background-color: #f9f9f9;
  font-weight: bold;
  padding-left: 43%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.totalSumDay {

  font-weight: bold;
  text-align: center;
  height: 40px;
  margin-left: 3%;
  width: 13%;
  padding-right: 0px;
}

.totalSum {
  color: #808080;
}

.arrow {
  cursor: pointer;
  background-color: white;
  color: #cccccc !important;
  padding: 5px 10px 10px 5px;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 10px;
  text-align: center;
}

.project-labels {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  margin-left: 22px;
  color: #003399;
  font-weight: bold;
  margin-right: 26px;
}

.project-type-label {
  color: #cccccc;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 126%;
  margin-bottom: 1%
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
}

.end {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.weekDays {
  width: 13%;
  margin-left: 1%;
  text-align: center;
}

.dayBox {
  text-align: center;
  width: 13%;
  font-weight: bold;
  margin-left: 1%;
}

.dateBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dates-and-daynames {
  width: 81%;
  margin-left: 3%;
}

.sum {
  color: #cccccc;
  font-weight: bold;
  position: absolute;
  margin-top: 38px;
  padding-right: 4%;
  margin-left: 12%;
}

.buttons button {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
}

.bottom-row {
  max-height: 30px;
  margin-top: 5px;
  width: 81%;
  margin-left: 9%;


}

.close-button {
  position: absolute;
  background-color: #bdd1ff;
  padding: 5px;
  color: darkblue;
  border-radius: 50%;
  height: 5px;
  width: 9px;
  text-align: center;
  font-size: 10px;
  padding-top: 2px;
  padding-bottom: 12px;
  margin-top: 2px;
  margin-left: 12%;

}

@media (max-width: 400px) {



  .dayBox,
  .month-label,
  .weekDays,
  .workingHoursBox,
  .sum {
    font-size: 10px;
  }

  .boxheader {
    height: 100%;
    padding-bottom: 5px;
  }

  .arrow {
    margin: 0px;
  }


}

.searched-project {
  list-style: none;
  background-color: #bdd1ff;
  padding: 5px;
  border-bottom: 1px blue;
  border-radius: 5px;
  margin-left: 18px;
  margin-right: 16px;
  margin-top: 5px;
}

.list-of-searched-projects {
  margin-bottom: 10px;
}

.projects-label {
  margin-right: 5px;
  text-align: center;
}

.search-project {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.search-project input {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 3px;

}

.list-of-searched-projects li {
  cursor: pointer;
}

.css {
  dispplay: none
}
